*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #0e0e0e;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    margin:  30px;
}

.menu {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.menu a{
    text-decoration: none;
    margin-right: 40px;
    color: white;
}

.menu a:hover{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 5px;
}

section{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 500px;
}

.title{
    background-color:white;
    background: linear-gradient(#ef4444, #7004A7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-size: 40px;
}

.contenido p{
    width: 500px;
    margin-top: 50px;
    margin-right: 100px;
}

.cajas-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.cajas{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.cajas:hover{
    opacity: 1;
}

.caja_1, .caja_2, .caja_3, .caja_4, .caja_5, .caja_6{
    opacity: .1;
}




.caja_1{
    background-color: rgb(16, 17, 21);
    background-image: url(./Img/senior-gb718bc8d8_1920.jpg);
    background-position: center;
    background-size: cover;
}

.caja_2{
    background-color: rgb(190, 0, 130);
    background-image: url(./Img/people-g61f56a143_1920.jpg);
    background-position: center;
    background-size: cover;
}

.caja_3{
    background-color:rgb(59, 73, 226);
    background-image: url(./Img/salt-harvesting-gd654165d2_1920.jpg);
    background-position: center;
    background-size: cover;
}
.caja_4{
    background-color:rgb(0, 0, 0);
    background-image: url(./Img/hijab-ge29d9a8c2_1920.jpg);
    background-position: center;
    background-size: cover;
}
.caja_5{
    background-color:rgb(7, 7, 7) ;
    background-image: url(./Img/children-ged88a68f5_1920.jpg);
    background-position: center;
    background-size: cover;
}
.caja_6{
    background-color: rgb(249, 58, 0);
    background-image: url(./Img/asia-g9a736bbd3_1920.jpg);
    background-position: center;
    background-size: cover;
}

.menu i{
    display: none;
    font-size: 20px;
    color: white;
}

/* --------------------------------Formulario de contacto------------------------------ */

.contac-container{
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

}

.contac-container h1{
    margin-bottom: 40px;
    background-color:white;
    background: linear-gradient(#ef4444, #7004A7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



.contac-container label{
    display: flex;
    flex-direction: column;
    width:300px;
    height:500px;
    line-height: 50px;
    margin: auto;
    border-radius: 20px;
}

input{
    background: none;
    border: none;
    color: white;
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 2px;
}


input:hover{
    box-shadow:2px 2px 2px 2px blueviolet ;
}

#btn{
    height: 20px;
    width: 100px;
}

#btn:hover{
    box-shadow:0 0 5px 5px blueviolet ;
    width: 105px;
    height: 25px;
    transition: all .2s;
}


@media screen and (max-width:900px) {
    
    .menu{
        display: flex;
        flex-direction: column;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    .cajas-container{
        margin: auto;
        margin-top: 50px;
        grid-template-columns: auto auto;
    }
    .cajas{
        width: 250px;
        height: 200px;
        border-radius: 10px;
        border: 1px solid darkgray;
    }

    
    .menu i{
        display: block;
        margin: 20px;
    }
    .menu a{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .cajas-container{
        margin: 0 auto;
        margin-top: 50px;
        grid-template-columns: auto;
    }

    .menu a{
        display: none;
    }

    .contenido p{
        width: 300px;
    }

}



